<footer>        
    <p class="attribution"> 
        &copy; 2024 <a href="https://www.mlab.co.za" target="_blank"> CodeTribe-Intro-To-Node.js </a>.
        Developed by <a href="https://github.com/DeLightPlus/Javascript-Refresher"> Kabelo Peter Matlakala </a>.
    </p>
</footer>